@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

}

.card {
  background-color: white;
  width: 90%;
  max-width: 700px;
  min-height: 400px;
  max-width: 800px;
  border-radius: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-left {
  width: 45%;
  position: relative;

  background-image: url('images/bg-pattern-desktop.svg');
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: top -225px left -450px;
}

.image-hidden {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-hidden img {
  width: 350px;

  position: absolute;
  left: -50px;
  top: 60px;
}

.image-visible img {
  width: 125px;

  position: absolute;
  top: 170px;
  left: -50px;
}


.card-right {
  width: 55%;

  padding: 50px 0;
  padding-right: 75px;
}

.card-right h1 {
  margin-bottom: 40px;
}

.card-right ul {
  padding-inline-start: 0px;
  list-style: none;
}

.card-right li {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.card-right h4 {
  margin: 15px 0;
  font-size: 16px;
  width: 100%;
  position: relative;
  color: hsl(240, 6%, 50%);
}

.card-right h4:hover {
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}

.card-right span {
  position: absolute;
  right: 0;
}

.card-right p {
  margin: 7px 0;
  font-size: 14px;
  color: hsl(240, 6%, 50%);
  display: none;
}

.active h4 {
  color: black;
}

.active p {
  display: block;
}

.active span {
  transform: rotate(180deg);
}





@media only screen and (max-width: 750px) {
  .card {
    border-radius: 20px;
    min-height: 300px;
    margin-top: 190px;
    margin-bottom: 50px;
  }

  .card-left, .card-right {width: 400px;}

  .card-left {
    background-size: cover;
    background-position: top -225px left 0;
    min-height: 165px;
  }

  .image-hidden {overflow: visible;}

  .image-hidden img {
    width: 100%;
    left: 0;
    top: -185px;
  }

  .image-visible img {
    top: -55px;
    left: 15px;
  }

  .card-right {
    width: 90%;
    padding: 50px 0;
    padding-top: 0px;
  }

  .card-right h1 {
    text-align: center;
    margin: 30px
  }

}

@media only screen and (max-width: 475px) {
  .card {border-radius: 20px; min-height: 250px}

  .card-left, .card-right {width: 300px;}

  .card-left {
    background-position: top -175px left 0px;
    min-height: 130px;
  }

  .image-hidden {overflow: visible;}

  .image-hidden img {
    top: -135px;
  }

  .card-right h4 {
    font-size: 13px;
  }

  .card-right p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 330px) {
  .card {border-radius: 20px; min-height: 175px; border-radius: 10px;}

  .card-left, .card-right {width: 90%;}

  .card-left {
    background-position: top -140px left 0px;
    min-height: 115px;
  }

  .image-hidden {overflow: visible;}

  .image-hidden img {
    top: -120px;
  }
}
